<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Validator</title>

    <!-- styles -->
        {% style "/assets/bootstrap/css/bootstrap.min.css" %}
        {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar navbar-dark bg-primary" role="navigation">
          <button class="navbar-toggler hidden-sm-up"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapsing-navbar">

          </button>
          <div class="collapse navbar-toggleable-xs" id="collapsing-navbar">
              <a class="navbar-brand" href="/">Validator</a>
              <ul class="nav navbar-nav">
                  <li class="nav-item">
                     <a class="btn" href="/upload"> file upload</a>
                  </li>

                 <li class="nav-item">
                      <a class="btn" href="/edit_config">edit config</a>
                  </li>

                  <li class="nav-item">
                      <a class="btn" href="#">download result</a>
                  </li>

                  <li class="nav-item">
                      <a class="btn" href="/date">about</a>
                  </li>
                </li>
              </ul>
          </div>
      </nav>
    <div class="container">
                <p>

                  {% if default %}
                    This is a basic validator for java files. <br>
                    Only for: <br>
                  <li>Name: FileServer</li>
                  <li>Type: .java</li>
                  <li>Package: var.mom.jms.file </li>
                  <li> With entry point: public static void main(String[] args)</li>
                  {% endif %}

                {% if date %}
                We have {{date}}
                {% endif %}

                {% if upload %}
                    <form class="upload" action="/upload" enctype="multipart/form-data" method="POST">
                      {% csrf-field %}
                        <input class="btn" id="file" name="file" type="file" />
                        <input class="btn" type="submit" value="upload" />
                    </form>
                {% endif %}

                {% if edit_config %}
                      <form class="upload" action="/save_config" enctype="multipart/form-data" method="POST">
                        {% csrf-field %}

                              {% for item in config %}
                                <li class="results">
                                  <input class="btn" id="{{item|first|remove:\":\"}}"
                                         name="{{item|first|remove:\":\"}}"
                                         type="text"
                                         value="{{item|last|first|last|remove:\":\"}}"
                                         placeholder="{{item|first|remove:\":\"}}" />
                                </li>
                              {% endfor %}


                          <input class="btn" type="submit" value="save" />
                      </form>
                {% endif %}

                {% if save_file %}
                   <b>Config values:</b>
                  {% for item in items %}
                      <li class="results"> {{item|json|safe}} </li>
                    {% endfor %}
                {% endif %}

                {% if validate %}

                <b>Validation result:</b>
                 <ul>
                    {% for item in items %}
                      <li class="results"> {{item|upper}} </li>
                    {% endfor %}
                 </ul>
                {% endif %}
           </p>
    </div>

{% script "/assets/tether/dist/js/tether.min.js" %}
{% script "/assets/jquery/jquery.min.js" %}
{% script "/assets/bootstrap/js/bootstrap.min.js" %}
  </body>
</html>
